<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Route Planner</title>
  </head>
  <body>
    {% if routes_list and worlds_list %}
        <ul>
        {% for world in worlds_list %}
          <h3>{{ world.world_name }}</h3>  
          {% for route in routes_list %}
            {% if route.world.world_name == world.world_name %}
              <li><a href="/routes/{{ route.route_name }}/">{{ route.route_name }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No routes are available.</p>
    {% endif %}
  </body>
</html>